.node {
  /* background: #d567c8; */
  stroke: #333;
  stroke-width: 1.5px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.MuiPopper-root{
  transform: translate3d(1098.2px, 157.4px, 0px) !important;
  border-radius: 10px !important;
}